---
layout: default
title: "Blog Archive"
teaser: "Check out all blog posts in this blog archive."
breadcrumb: false
header:
   image_fullwidth: header_unsplash_5.jpg
permalink: "blog/archive/"
---
<div id="blog-index" class="row">
	<div class="small-12 columns t30">
		<h1>{{ page.title }}</h1>
		{% if page.teaser %}<p class="teaser">{{ page.teaser }}</p>{% endif %}

			{% for post in site.posts limit:1000 %}
  			<a href="{{ site.url }}{{ post.url }}"><span class="iconfont"></span> {% if post.subheadline %}{{ post.subheadline }} › {% endif %}<strong>{{ post.title }}</strong></a>
				<div id="panel{{ counter }}" class="content">
					{% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
				</div>
        <br>
		  {% endfor %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
